ul.content-section {
    list-style-type: none;
}

header {
    text-align: center; 
}

.container2 {display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.content-section {
    display: flex;
    align-content: center;
    margin: 20px;   
}